.login-form {
    border-radius: 1rem;

    background-color: rgb(244, 242, 240);
    opacity: 0.8;

    width: 40vw;
    padding: 4rem;

    -webkit-box-shadow: -11px -8px 8px -5px rgba(0, 0, 0, 1);
    -moz-box-shadow: -11px -8px 8px -5px rgba(0, 0, 0, 1);
    box-shadow: -11px -8px 8px -5px rgba(0, 0, 0, 1);
}

#submit-btn {
    font-weight: bold;
    width: 100%;
}


#submit-btn:hover {
    background-color: green !important;
}

.custom-textfield .MuiOutlinedInput-root {
    border-color: #0a8d48; /* Default outline color */
}

.custom-textfield .MuiOutlinedInput-root:hover .MuiOutlinedInput-notchedOutline {
    border-color: #0a8d48; /* Hover outline color */
}

.custom-textfield .MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
    border-color: #0a8d48; /* Focused outline color */
}

.create-account-link:hover {
    color: green;
}